# Ignore temporary files
*.swp
*.swo
photorec.se2
.terraform/
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
**/terraform-provider-*
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
.cache/
# Exclude provider binaries
**/.terraform/providers/**
# Ignore specific directories
Task-Manager/task-manager/backend/
Task-Manager/task-manager/cicd/
Task-Manager/task-manager/frontend/
task-manager-backup/
# Ignore specific files
Task-Manager/task-manager/eslint.config.js
Task-Manager/task-manager/queries.js
Task-Manager/task-manager/test-db.js
Task-Manager/task-manager/tests/
Task-Manager/task-manager/validationtaskSchema.js

# Ignore other patterns
Task-Manager/task-manager/*.swp
Task-Manager/task-manager/task-manager/
go/

# Ignore root-level task-manager directory
task-manager/
**/.terraform/providers/**
.babel.config.json.swp 
.gitignore.swp
.jest.config.mjs.swp
.package.json.swp
.server.js.swp
.test-db.js.swp